<nav class="bg-blue-800 text-white shadow-md">
  <div class="container mx-auto flex justify-between items-center py-4 px-6">
    <!-- Nombre del sistema -->
    <div class="text-xl font-bold text-yellow-400 flex items-center pl-10">
      AdminBot
    </div>

    <!-- Menú de opciones -->
    <div class="flex space-x-6 items-center">
      <a class="hover:text-gray-300 transition cursor-pointer">Perfil</a>
      <a [routerLink]="['/agregar']" class="hover:text-gray-300 transition cursor-pointer">Agregar alumno</a>
      <button [routerLink]="['/addmin']" class="hover:text-gray-300 transition cursor-pointer">Agregar Administrador</button>
      <button [routerLink]="['./login']" (click)="logout()" class="cursor-pointer bg-yellow-400 px-4 py-2 rounded-lg text-blue-800 hover:bg-yellow-500 transition">
        Cerrar Sesión
      </button>
    </div>
  </div>
</nav>

<!-- Barra superior -->
<div class="w-full h-1 bg-blue-800 flex items-center px-6 shadow-md">
  <img src="assets/uas-logo-2.png" alt="Logo UAS" class="h-16 z-20 mb-15" />
</div>

<div class="w-full h-12 bg-yellow-400 flex items-center px-6 shadow-md z-10">
  <h1 class="text-xl font-bold text-blue-800">Universidad Autónoma de Sinaloa</h1>
</div>
