 <div class="p-4">

  <h2 class="text-3xl font-bold mb-6 text-center text-blue-800">Agregar Alumno</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full">
    <h3 class="text-2xl font-bold mt-4 mb-4 text-blue-800 border-b-2 border-yellow-400 pb-2">Datos del Alumno</h3>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="mb-4">
        <label class="block text-blue-800 font-semibold mb-2">Matrícula *</label>
        <input formControlName="Matricula" type="text" name="Matricula" required
          class="w-full border border-blue-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 shadow-sm transition duration-200 hover:border-blue-400"
          [ngClass]="{'border-red-500': form.controls['Matricula'].invalid && form.controls['Matricula'].touched}" />
      </div>

      <div class="mb-4">
        <label class="block text-blue-800 font-semibold mb-2">Nombre *</label>
        <input formControlName="nombre" type="text" name="nombre" required
          class="w-full border border-blue-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 shadow-sm transition duration-200 hover:border-blue-400"
          [ngClass]="{'border-red-500': form.controls['nombre'].invalid && form.controls['nombre'].touched}" />
      </div>

      <div class="mb-4">
        <label class="block text-blue-800 font-semibold mb-2">Apellido Paterno *</label>
        <input formControlName="apellido_paterno" type="text" name="apellido_paterno" required
          class="w-full border border-blue-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 shadow-sm transition duration-200 hover:border-blue-400"
          [ngClass]="{'border-red-500': form.controls['apellido_paterno'].invalid && form.controls['apellido_paterno'].touched}" />
      </div>

      <div class="mb-4">
        <label class="block text-blue-800 font-semibold mb-2">Apellido Materno *</label>
        <input formControlName="apellido_materno" type="text" name="apellido_materno" required
        class="w-full border border-blue-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 shadow-sm transition duration-200 hover:border-blue-400"
        [ngClass]="{'border-red-500': form.controls['apellido_materno'].invalid && form.controls['apellido_materno'].touched}" />
      </div>

      <div class="mb-4">
        <label class="block text-blue-800 font-semibold mb-2">Email *</label>
        <input formControlName="email" type="email" name="email" required
          class="w-full border border-blue-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 shadow-sm transition duration-200 hover:border-blue-400"
          [ngClass]="{'border-red-500': form.controls['email'].invalid && form.controls['email'].touched}" />
      </div>

      <div class="mb-4">
        <label class="block text-blue-800 font-semibold mb-2">Teléfono *</label>
        <input formControlName="telefono" type="tel" name="telefono" required
          class="w-full border border-blue-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 shadow-sm transition duration-200 hover:border-blue-400"
          [ngClass]="{'border-red-500': form.controls['telefono'].invalid && form.controls['telefono'].touched}" />
      </div>
    </div>

    <h3 class="text-2xl font-bold mt-8 mb-4 text-blue-800 border-b-2 border-yellow-400 pb-2">Datos del Tutor</h3>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="mb-4">
        <label class="block text-blue-800 font-semibold mb-2">Nombre *</label>
        <input formControlName="nombre_tutor" type="text" name="nombre_tutor" required
          class="w-full border border-blue-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 shadow-sm transition duration-200 hover:border-blue-400"
          [ngClass]="{'border-red-500': form.controls['nombre_tutor'].invalid && form.controls['nombre_tutor'].touched}" />
      </div>

      <div class="mb-4">
        <label class="block text-blue-800 font-semibold mb-2">Apellido Paterno *</label>
        <input formControlName="apellido_paterno_tutor" type="text" name="apellido_paterno_tutor" required
          class="w-full border border-blue-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 shadow-sm transition duration-200 hover:border-blue-400"
          [ngClass]="{'border-red-500': form.controls['apellido_paterno_tutor'].invalid && form.controls['apellido_paterno_tutor'].touched}" />
      </div>

      <div class="mb-4">
        <label class="block text-blue-800 font-semibold mb-2">Apellido Materno *</label>
        <input formControlName="apellido_materno_tutor" type="text" name="apellido_materno_tutor" required
          class="w-full border border-blue-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 shadow-sm transition duration-200 hover:border-blue-400"
          [ngClass]="{'border-red-500': form.controls['apellido_materno_tutor'].invalid && form.controls['apellido_materno_tutor'].touched}" />
      </div>

      <div class="mb-4">
        <label class="block text-blue-800 font-semibold mb-2">Teléfono *</label>
        <input formControlName="telefono_tutor" type="tel" name="telefono_tutor" required
        class="w-full border border-blue-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 shadow-sm transition duration-200 hover:border-blue-400"
        [ngClass]="{'border-red-500': form.controls['telefono_tutor'].invalid && form.controls['telefono_tutor'].touched}" />
      </div>

      <div class="mb-4">
        <label class="block text-blue-800 font-semibold mb-2">Correo</label>
        <input formControlName="email_tutor" type="email" name="email_tutor"
          class="w-full border border-blue-300 p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400 shadow-sm transition duration-200 hover:border-blue-400"
          [ngClass]="{'border-red-500': form.controls['email_tutor'].invalid && form.controls['email_tutor'].touched}" />
      </div>
    </div>

    <p class="text-sm text-red-500 pt-6 text-center">
      * Las casillas marcadas con un * son obligatorias.
    </p>

    <div *ngIf="form.invalid && form.touched" class="w-full text-center p-3 mt-6 bg-red-100 border border-red-500 text-red-600 rounded-lg">
        <p><strong>¡Por favor, complete todos los campos obligatorios!</strong></p>
    </div>

    <div class="flex justify-center mt-8">
      <button type="submit" [disabled]="form.invalid"class="bg-yellow-400 text-blue-800 px-8 py-3 rounded-xl shadow-lg font-bold hover:bg-yellow-500 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed cursor-pointer">
        Guardar Alumno
      </button>
    </div>
  </form>
</div>